[submodule "bundle/tmux"]
	path = bundle/tmux
	url = https://github.com/diversario/tmux-config.git
  ignore = dirty
[submodule "bundle/vim"]
	path = bundle/vim
	url = https://github.com/diversario/vim-config.git
  ignore = dirty
[submodule "bundle/zsh/oh-my-zsh"]
	path = bundle/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
  ignore = dirty
[submodule "bundle/nave"]
	path = bundle/nave
	url = git@github.com:isaacs/nave.git
  ignore = dirty
